Python Course Exercises 1

Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [3]:
7**4

2401

** Split this string:**

s = "Hi there Yogesh!"
**into a list. **

In [4]:
s="Hi there Yogesh!"

In [5]:
s.split()

['Hi', 'there', 'Yogesh!']

** Given the variables:**

planet = "Earth"
diameter = 12742
** Use .format() to print the following string: **

The diameter of Earth is 12742 kilometers.

In [6]:
planet = "Earth"
diameter = 12742
"The diameter of {} is {} kilometers".format(planet,diameter)

'The diameter of Earth is 12742 kilometers'

** Given this nested list, use indexing to grab the word "hello" **

In [9]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

variable  does not start with a number.

In [12]:
first = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [16]:
first[3][1][2][0]

'hello'

** Given this nested dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [17]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [25]:
d['k1'][3]['tricky'][3]['target'][3]

'hello'

** What is the main difference between a tuple and a list? **

In [34]:
#List
#Sequence of elements enclosed in square brackets[]
#list are Mutable

In [27]:
List1=[100,200,300,400,500]

In [29]:
List1

[100, 600, 300, 400, 500]

In [31]:
type(List1)

list

In [32]:
List1[1]=600

In [33]:
List1

[100, 600, 300, 400, 500]

In [35]:
#Tuples
#tuples closed with parainthses ()
#tuples are immutable

In [36]:
tuple1=(100,200,300,400,500)

In [37]:
tuple1

(100, 200, 300, 400, 500)

In [38]:
type(tuple1)

tuple

In [39]:
tuple[1]=600

TypeError: 'type' object does not support item assignment

** Create a function that grabs the email website domain from a string in the form: **

user@domain.com
So for example, passing "user@domain.com" would return: domain.com

In [43]:
def find_domain(email_id):
    return email_id.split("@")[1]

In [44]:
find_domain("sushil@gmailcom")

'gmailcom'

In [45]:
find_domain('1234@yahoo.com')

'yahoo.com'

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [53]:
def find_dog(d):
    return "dog" in d.lower().split()

In [54]:
find_dog("My Dog Name is Revha, DOG dOG doG")

True

In [55]:
find_dog("My dog name is revha")

True

In [56]:
find_dog("My name is sushil")

False

In [57]:
find_dog('Is there a dog here?')

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [66]:
def count_dog(d):
    c=0
    for s in d.lower().split():
        if s=="dog":
            c=c+1
    print(c)

In [67]:
count_dog("My Dog Name is Revha, DOG dOG doG")

4

In [68]:
count_dog('This dog runs faster than the other dog dude!')

2

** Use lambda expressions and the filter() function to filter out words from a list that don't start with the letter 's'. For example:**

seq = ['soup','dog','salad','cat','great']
should be filtered down to:

['soup','salad']

In [69]:
seq = ['soup','dog','salad','cat','great']

In [74]:
list(filter(lambda v:v[0].lower()!='s',seq)) #Not start with s

['dog', 'cat', 'great']

In [79]:
list(filter(lambda x:x[0].lower()=='s',seq)) #start with s

['soup', 'salad']

**You are driving a little too fast, and a police officer stops you. Write a function to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". If your speed is 60 or less, the result is "No Ticket". If speed is between 61 and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all cases. **

In [3]:
def caught_speeding(speed,birthday):
    if birthday==True:
        speed1=speed-5
    else:
        speed1=speed
    if speed1<=60:
        return "No Ticket!"
    elif speed1<=80:
        return "Small Ticket!"
    else:
        return "Big Ticket!"

In [4]:
caught_speeding(81,True)

'Small Ticket!'

In [5]:
caught_speeding(81,False)

'Big Ticket!'

In [7]:
caught_speeding(56,False)

'No Ticket!'

In [8]:
caught_speeding(75,False)

'Small Ticket!'

Question
Given a string print number num by extracting all the
digits from the string as in string
Print negative number if the first character in
string is '-'
eg.
-123abcd should return -123,abcd456-->456,fdhfh78dsd89--->7889,
-56dssd78-->-5678

In [5]:
i = input("Enter Your Input:-")
n=""
numbers=[0,1,2,3,4,5,6,7,8,9]
if i[0]=="-":
    n=n+i[0]
for v in i:
    if v in str(numbers):
        n=n+v
print(n)

Enter Your Input:- fdhfh78dsd89---

7889

Q2
WAP to check whether a number is palindrome or not on following
conditions.
1. take input number
2. add number and its reverse
3. check that number is palindrome or not,if not then sum and its reverse

In [10]:
n1=input("Enter the Number :")
n2=int(n1[::-1])
n3=str(int(n1)+n2)
while n3!=n3[::-1]:
    print("Number is :",n3)
    print("Reverse is :",n3[::-1])
    n3=str(int(n3)+int(n3[::-1]))
    print("Number is :",n3)
    print("Reverse is :",n3[::-1])
print("Palindrome is :",n3)

Enter the Number : 19

Number is : 110
Reverse is : 011
Number is : 121
Reverse is : 121
Palindrome is : 121

Write a python function to find and display the five
digit number in which the first digit is two more than
the second,the second digit is two more than the third,
the fourth digit is two less than the third, and the
last digit is two more than
the fourth.The sum of the third,fourth and fifth digits
equals the first.The sum of all the digits is 19

In [19]:
def find_five_digit():
    digit=[1,2,3,4,5,6,7,8,9]
    for a in digit:
        for b in digit:
            for c in digit:
                for d in digit:
                    for e in digit:
                        if (
                           a == b+2 and 
                           b == c+2 and 
                           d == c-2 and 
                           e == d+2 and 
                           c+d+e == a and 
                           a+b+c+d+e == 19
                           ):
                            print("The number is : {}{}{}{}{}".format(a, b, c, d, e))
                            return
find_five_digit()

The number is : 75313

In [20]:
pwd

'C:\\Users\\sushi\\Documents'