#1. Consider the code

In [4]:
x=8
y=10

In [7]:
result= x//3*3/2+y%2**2

BODMAS
priority       Associativity
  ^  {},[],()
  |  **,^     Right to left
  |   /,*     left to Right
  |  +,-       Left to Right

In [8]:
print(result)

5.0

#2

In [16]:
#2 Consider the code
start=input("How old were you at the time of Joining?" )
end = input("How old are you today?")

How old were you at the time of Joining? 25
How old are you today? 40

In [11]:
print('Congratulation on ' + int(end-start)+ 'year of Service !)

SyntaxError: unterminated string literal (detected at line 1) (386151937.py, line 1)

In [12]:
print('Congratulation on' + int(end-start)+'Year of Service !')

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [14]:
print('Congratulation on ' + (int(end)-int(start))+'Year of Service !')

TypeError: can only concatenate str (not "int") to str

In [19]:
print('Congratulation on ' + str(int(end)-int(start)) + ' Year old Service !')

Congratulation on 15 Year old Service !

#3

In [22]:
#3 Consider the code 
#Which of the following Won't print "CAT" to the console

In [26]:
x="ACROTE"
y="APPLE"
z="TOMATO"

In [27]:
print(x[2]+y[1]+z[1])

RPO

In [28]:
print(x[-5]+y[0]+z[-2])

CAT

In [29]:
print(x[1]+y[0]+z[0])

CAT

In [30]:
print(x[-5]+y[0]+z[0])

CAT

#4

In [31]:
#Consider the following code
x='Durga'
y='Durga'
result=x<y
print(result)

False

In [32]:
x='Durga'
y='Durga'
result=x!=y
print(result)

False

In [33]:
x='Durga'
y='Durga'
result=x is not y
print(result)

False

In [34]:
x='Durga'
y='Durga'
result=x is y
print(result)

True

#5

In [35]:
#5 Consider the Following code Segment:
#code segment-1
a1='10'
b1=3
c1=a1*b1

#code segment -2 
a2=10
b2=3
c2=a2/b2

#code segment -3 
a3=2.6
b3=1
c3=a3/b3

In [38]:
c1 #string

'101010'

In [42]:
c2 #float

3.3333333333333335

In [43]:
c3 #float

2.6

#6

In [45]:
# 6 In which of the following cases we will get same result

In [46]:
13//4 #it is normal division but / remove the decimal

3

In [47]:
11/3

3.6666666666666665

In [50]:
3**1 # 3 to power of 1

3

In [51]:
23%5 #finding remaider

3

#7

In [52]:
#7 Consider the following list
n1=[10,20,30,40,50]
n2=[10,20,30,40,50]
print(n1 is n2) # is oprater giving diffrent memory size that's why false

False

In [54]:
print(n1==n2) #element of the both list same that's why it give true

True

#8

In [55]:
#8 Consider the python code 
a=1
b=3
c=5
d=7
#In which of the following cases the result value is 0?

In [57]:
result1 = a-b//d
print(result1)

1

In [58]:
result2=a**d-1
print(result2)

0

In [59]:
result3=a+b*2
print(result3)

7

In [61]:
result4=a%b-1
print(result4)

0

#9

In [5]:
#9Consider the code 
s = 'AB CD'
first = list(s) #cannot be use list as variable 
first.append('EF')
print(first)

['A', 'B', ' ', 'C', 'D', 'EF']

10

In [9]:
#10 Consider the python code:
a=5
b=10
c=2
d=True

x=a+b*c
y=a+b/d

if(x<=y):
    print('Valid')
else:
    print("Invalid")
#To print Valid to the console , which condition we have take for if statement?

Invalid

In [10]:
a=5
b=10
c=2
d=True

x=a+b*c
y=a+b/d

if(x<y):
    print('Valid')
else:
    print("Invalid")
#To print Valid to the console , which condition we have take for if statement?

Invalid

In [11]:
a=5
b=10
c=2
d=True

x=a+b*c
y=a+b/d

if(x==y):
    print('Valid')
else:
    print("Invalid")
#To print Valid to the console , which condition we have take for if statement?

Invalid

In [12]:
a=5
b=10
c=2
d=True

x=a+b*c
y=a+b/d

if(x>y):
    print('Valid')
else:
    print("Invalid")
#To print Valid to the console , which condition we have take for if statement?

Valid

#11

In [13]:
#11 You are writing a python program to read two int values from the keyboard and print the sum

#Which of the following code we have to write at line -1 to printsum of given numbers? 
x=input("Enter First Number :")
y=input("Enter Secound Number :")
print("The Result :"+(int(x+y)))

Enter First Number : 55
Enter Secound Number : 88

TypeError: can only concatenate str (not "int") to str

In [14]:
x=input("Enter First Number :")
y=input("Enter Secound Number :")
print("The Result :"+str(int(x)+int(y)))

Enter First Number : 88
Enter Secound Number : 99

The Result :187

In [15]:
x=input("Enter First Number :")
y=input("Enter Secound Number :")
print("The Result :"+str(int(x+y)))

Enter First Number : 55
Enter Secound Number : 88

The Result :5588

In [16]:
x=input("Enter First Number :")
y=input("Enter Secound Number :")
print("The Result :"+(int(x)+int(y)))

Enter First Number : 55
Enter Secound Number : 88

TypeError: can only concatenate str (not "int") to str

#12

In [17]:
# 12 Consider the expression:
result=a-b*c+d
#which of the following are valid?

In [18]:
#First a-b will be evaluated followed by multipication and addition #Incorrect
#First b*c will be evaluted followed by addition and subtraction #Correct
#The above expession is equivalent to a-(b*c)+d #Correct
#First b*c will be evaluted followed by subtraction and addition #Correct

#13

In [19]:
#13 Consider the following python code :
weight=62.4
zip='80098'
value=+23E4

In [20]:
type(weight)

float

In [21]:
type(zip)

str

In [22]:
type(value)

float

In [25]:
value  #E or e means “× 10 power”
       #23E4 = 23 × 10⁴ = 230000

230000.0

In [26]:
#write answer is float,str,float

#14

In [27]:
#14 You are writing a python program . you required to handel data types properly.
#Consider the code segment 

a=10+20
b='10'+'20'
c='10'*3

In [28]:
a

30

In [29]:
type(a)

int

In [30]:
b

'1020'

In [31]:
type(b)

str

In [32]:
c

'101010'

In [33]:
type(c)

str

In [34]:
#right answer is int,str,str

#15

In [35]:
#15 You have the following code :
a=bool([False])
b=bool(3)
c=bool("")
d=bool(' ')

In [36]:
a

True

In [37]:
b

True

In [41]:
c

False

In [39]:
d

True

#16

In [42]:
#16 Consider the following expression
result=(2*(3+4)**2-(3**3)*3)
#what is result value?

In [43]:
result

17

#17

In [52]:
#17 Consider the code 
#To make a value as 9 , which expression required to plce at Line-1
a=2
a += 1
a**=2
print(a)

9

In [53]:
a=2
a += 1
a-+2
print(a)

3

In [54]:
a=2
a += 1
a+=2
print(a)

5

In [55]:
a=2
a += 1
a*=2
print(a)

6

#18

In [56]:
#18 Which variables represent true?
a=bool(0)
a

False

In [57]:
b=bool(3)
b

True

In [59]:
c=bool(0.5)
c

True

In [61]:
d=bool(0.0)
d

False

#19

In [66]:
#19 Consider the code 
a=21
b=6
print(a/b)

3.5

In [67]:
print(a//b)

3

In [68]:
print(a%b)

3

In [69]:
#answer is 3.5,3,3

#20

In [10]:
#20 
employees=list(range(1,501))

In [82]:
employees

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500]

In [83]:
employees[-3:]

[498, 499, 500]

In [85]:
employees[497:]

[498, 499, 500]

In [86]:
employees[497:500]

[498, 499, 500]

In [1]:
#answer is all the above

#21

In [4]:
#21 In which cases true will be printed to the console?
subjects=['java','python','sap']
more_subjects=['java','python','sap']
extra_subjects=more_subjects

In [5]:
print(extra_subjects is more_subjects)

True

In [6]:
print(subjects is more_subjects)

False

In [8]:
print(subjects is extra_subjects)

False

In [9]:
print(subjects==extra_subjects)

True

#22

In [ ]:
#22 You are developing a python application for your company. 
#a list named employees contains 500 employee names.
#in which cases we will get indexError while accessing employee data?

In [11]:
employees[0:501]

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500]

In [12]:
employees[1:1000]

[2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500]

In [14]:
employees[-10:10]

[]

In [15]:
#None of the above #Slice operator never raises index error

#23

In [22]:
#23 Consider the lists:
numbers=[10,20,30,40,50]
alphabets=['a','b','c','d','e']
print(numbers is alphabets)
print(numbers == alphabets)

False
False

In [23]:
numbers=alphabets

In [24]:
print(numbers is alphabets)
print(numbers == alphabets)

True
True

#24

In [1]:
#24 Consider the following python code
age = 0
minor=False
name='Durga'
#The types of age,minor,and name variables respectivly:

In [3]:
type(age)

int

In [4]:
type(minor)

bool

In [5]:
type(name)

str

In [6]:
#answer is int,bool,str

#25

In [7]:
#25 Wich of the following expression will generate max value?
8//3*4

8

In [8]:
8%3*4

8

In [15]:
8/3*4 #Correct answer

10.666666666666666

In [16]:
8-3*4

-4

#26

In [34]:
#26 Consider the code:
s ='Python is easy'
s1=s[6:-4]
s2 = s1.strip() #strip() remove space string
print(len(s2))
#To print 2 as output , which code we have inert at line -1

2

In [36]:
s ='Python is easy'
s1=s[6:-4]
s2 = s1.rstrip() #rstrip() remove space from right side of string
print(len(s2))
#To print 2 as output , which code we have inert at line -1

3

In [31]:
s ='Python is easy'
s1=s[6:-4]
s2 = s1.lstrip() #lstrip() remove space from left side of string
print(len(s2))
#To print 2 as output , which code we have inert at line -1

3

In [37]:
s ='Python is easy'
s1=s[6:-4]
s2 = s1.lrstrip() #Function not present
print(len(s2))
#To print 2 as output , which code we have inert at line -1

AttributeError: 'str' object has no attribute 'lrstrip'

#27

In [38]:
#27 You are developing a python application for your company.
#A list named employees contains 600 employee names , the last 3 being company management.
#You need to slice employees to display all employees excluding management.
#which two code segments we should use?

In [40]:
employee=list(range(0,600))

In [42]:
#Last 3 is management but we want only employeee not a management employees

In [43]:
employee[1:-3] #indexing start with 0 that's why its is wrong answer

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596]

In [44]:
employee[:-3] #in this given term starting point not mension by default it start with 0 
              # it is correct answer

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596]

In [45]:
#employee[1:-2]
#employees[0:-2] Wrong Answer

In [46]:
employee[0:-3]  #correct answer

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596]

#28

In [47]:
#28 Consider the list
List=["Apple","Banana","Carrot","Mango"]
#Which of the following are valid ways of accessing 'Mango':

In [48]:
List[0]

'Apple'

In [49]:
List[-1]

'Mango'

In [50]:
List[3]

'Mango'

In [51]:
List[4]

IndexError: list index out of range

#29

In [53]:
#29Which of the following code snippet will prduce the output:
#Boy
#Cat
#Dog

In [54]:
l=['Apple','Boy','Cat','Dog']
for x in l:
    print(x)

Apple
Boy
Cat
Dog

In [55]:
l=['Apple','Boy','Cat','Dog']
for x in l:
    if len(x) != 3:
        print(x)

Apple

In [56]:
l=['Apple','Boy','Cat','Dog']
for x in l:
    if len(x) == 3:
        print(x)

Boy
Cat
Dog

In [57]:
l=['Apple','Boy','Cat','Dog']
l1=l[1:]
for x in l1:
    print(x)

Boy
Cat
Dog

#30

In [59]:
#30 Consider the code 
a=15
b=5
print(a/b) #/ always give the floating value

3.0

#31

In [1]:
#31 You are developing a python application for your company.
#A list named employees contains 500 employees names.
#In which cases we will get index error while accessing employee names?

In [2]:
#employees[500] because this out of range of the employees list .

#32

In [3]:
#Consider the code
a=1
b=2
c=4
d=6
#which of the following expression result -4?

In [4]:
(a+b)//c%d

0

In [5]:
(b+c)//a%d

0

In [6]:
(a+b)//c*d

0

In [8]:
(a+b)//d-c

-4

#33

In [15]:
#33Consider the code 
s='Python is easy'
s1=s[-7:]
s2=s[-4:]
print(s1+s2)

is easyeasy

#34

In [2]:
#34 which f the following is valid python operator precedence order?
# Parenthesis (),{},[]
# Exponents **,^
# Unary Positive,Negative and Not +,-,!
# Multiplication and Division *,/,%
# Addition and Subtraction +,-
# And &

#35

In [49]:
# 35 You are writing a python program that evaluates an arithmetic expression. #Not Understand
# The espression is described as b is equals a muliplied by negative one , then 
# raised to the second power,where a is the value which will be input and b is result.
a = eval(input("Enter a number for the expression:))
#Which of the following is valid expression for the given requirement?
               b=(-a)**2

SyntaxError: unterminated string literal (detected at line 4) (1997100303.py, line 4)

#36

In [50]:
#36Consider the following expression
result=8//6%5+2**3-2
print(result)

7

#37

In [51]:
#37 You have the following code:
a=3
b=5
a+=2**3
a-=b//2//3
print(a)

11

#38

In [52]:
#38 Consider the folllowing variable declaration:
a=bool([])
b=bool(())
c=bool(range(0))
d=bool({})
e=bool(set())
#Which of the above variables represent True

In [53]:
a

False

In [54]:
b

False

In [55]:
c

False

In [56]:
d

False

In [57]:
e

False

In [58]:
#answer is None of the variables represents true

In [60]:
n1=n2
print(n1 is n2)
print(n1==n2)

True
True

#39

In [61]:
#39 Consider the python code #not understand
numbers=[10,20,30,40]
x=0
#in which of the following cases 10 will be printed to the console?

In [62]:
for i in (30,40,50):
    if i in numbers:
        x=x+10
print(x)

20

In [63]:
for i in (30,40,50):
    if i not in numbers:
        x=x+5
print(x)

25

In [64]:
for i in (30,40,50):
    if i in numbers:
        x=x+5
print(x)

35

In [65]:
for i in (30,40,50):
    if i not in numbers:
        x=x+10
print(x)

45

#40

In [59]:
#40 Consider the followibf lists:
n1=[10,20,30,40,50]
n2=[10,20,30,40,50]
print(n1 is n2)
print(n1==n2)

False
True