#MTA Document - 2

#1

In [ ]:
#1 Which expression ecalutes to 4?

In [ ]:
7-2*3

1

In [ ]:
7//2-3

0

In [ ]:
7/2*3

10.5

In [ ]:
7%2+3

4

#2 Not Understand

In [ ]:
#2 Consider the code

from sys import argv
sum=0
for i in range(2,len(argv)):
  sum += float(argv[i])
print("The Average for {0} is {1:.2f}".format(argv[1],sum/(len(argv)-2)))

ValueError: could not convert string to float: '/root/.local/share/jupyter/runtime/kernel-f39ebe95-761d-486c-9e7d-a385aa184793.json'

#3

In [1]:
#4 Consider the code
x =3
x +=1
#Which line sholuld be inserted as Line-1 so that x value will become 16?

In [2]:
x**=2
x

16

In [3]:
x*=2
x

32

In [4]:
x+=2
x

34

In [6]:
x-=2
x

30

#4

In [7]:
#Consider the following code 
print(type(input("Enter some value: ")))
# if we enter 10 and 10.00 individually for every run whats is the output?

Enter some value:  10

<class 'str'>

In [9]:
print(type(input("Enter some value: ")))# Input allways give str

Enter some value:  10.00

<class 'str'>

#5

In [ ]:
# 5 Consider the python code:
a=['a','b','c','d']
for i in a:
    a.append(i.upper())
print(a)

In [1]:
#MemoryError thrown at runtime

#6

In [2]:
#6 Consider the variable declarations:
a='5'
b='2'
# which of the following expressions are of type str

In [3]:
a*b

TypeError: can't multiply sequence by non-int of type 'str'

In [4]:
a*2

'55'

In [5]:
a+b

'52'

In [6]:
a-b

TypeError: unsupported operand type(s) for -: 'str' and 'str'

#8

In [7]:
#Consider the code 
a=7
b=3
c=5
d=1
#which line of the code assigns 9 to the output

In [8]:
a%c+1

3

In [9]:
a+d*2

9

In [10]:
a+c//d

12

In [11]:
c*d-1

4

#9 Not Understand

#10

In [14]:
#10
6//4%5+2**3-2//3

9

#11

In [16]:
# 11 Which line of the code will assign 'TT'to the output?
x='TEXT'

In [17]:
x[0]+x[-1]

'TT'

In [18]:
x[0]+x[3]

'TT'

In [19]:
x[-1]+x[-4]

'TT'

#12

In [20]:
#12 Consider the python code 
print(10==10 and 20!=20)
print(10==10 or 20!=20)
print( not 10==10)

False
True
False

#13

In [21]:
#13 Consider the code 
a=float('123.456')
#which expression evaluates to 2?

In [22]:
bool(a)

True

In [23]:
int(a)+False

123

In [24]:
str(a)

'123.456'

In [26]:
bool(a)+True

2

#14

In [32]:
#14 You are intern from xyz cars company.You have to create a function that calculates the 
# average velocity of vehicals on 2640 foot(1/2 miles)track
#Consider code # not understand

In [33]:
distance=int(input('Enter the distance travelled in feet: '))
distance_miles=distance/5280
time=int(input('Enter the time elapsed in seconds: '))
time_hours=time/3600
velocity=distance_miles/time_hours
print('The average Velocity:',velocity,'miles/hour')

Enter the distance travelled in feet:  2640
Enter the time elapsed in seconds:  30

The average Velocity: 60.0 miles/hour

In [30]:
distance=float(input('Enter the distance travelled in feet: '))
distance_miles=distance/5280
time=float(input('Enter the time elapsed in seconds: '))
time_hours=time/3600
velocity=distance_miles/time_hours
print('The average Velocity:',velocity,'miles/hour')

Enter the distance travelled in feet:  2640
Enter the time elapsed in seconds:  30

The average Velocity: 60.0 miles/hour

#15

In [34]:
#15 Thw XYZ Company has hied you as an intern on the coding team that creates a e commerce application .
# You must write a script that asks the user for a value .The value must be used as a whole numbers in a valculate even id the user enters a decimal value 
# whucg if the fillowing meets this requirement?

In [36]:
total_items=int(float(input("How many items you reqired?")))

How many items you reqired? 55.5

#16

In [37]:
#16 In which of the following cases ,True will be printed to the console?

In [38]:
print('r' in 'durga')

True

In [1]:
print('is' in 'This IS a Fake News')

True

In [39]:
a=45
b=45
print(a is not b)

False

In [40]:
s1='The Python Course'
s2='The python Course'.upper()
print(s1 is s2)

False

In [42]:
x=[1,2,3]
y=[1,2,3]
print(x is y)

False

#17

In [43]:
#17 consider the code 
x=2
y=6
x+=2**3
print(x)

10

In [45]:
x//=y//2//3
print(x)

10

#18 Not Understand

#19

In [48]:
#19 if the user enters 12345 as input , which of the following code will print 123456 to consol ?
count=int(input('Enter count value'))
print(count+1)

Enter count value 12345

12346

In [49]:
count=eval(input("Enter count value:"))
print(count+1)

Enter count value: 12345

12346

In [50]:
count=input('Enter count value')
print(count+1)

Enter count value 12345

TypeError: can only concatenate str (not "int") to str

In [51]:
count=input("Enter count value:")
print(int(count)+1)

Enter count value: 12345

12346

#20

In [53]:
#20 consider the code 
t=([10,20],10,False)
#which line of the code assigns class list to x

In [56]:
x=type(t[0])
x

list

#21

In [57]:
#21 Which expression would evaluate to 2?

In [58]:
11/2

5.5

In [59]:
22%5

2

In [60]:
13//4

3

In [61]:
3**2

9

#22

In [62]:
#22 Consider the code 
x=3/3+3**3-3
print(x)

25.0

#23

In [3]:
#23  Consider the python code 
result=str(bool(1) + float(10)/float(2))
print(result)
print(type(result))

6.0
<class 'str'>

#23

#24 Not Understand

#25

In [5]:
#25 You develop a python application for your company.You required to accept input from the user
#and print that information to the user screen.
#consider the code 
print('Enter your Name:')
name=input
print(name)

Enter your Name:
<bound method Kernel.raw_input of <ipykernel.ipkernel.IPythonKernel object at 0x000001AFF7AFD160>>

In [6]:
print('Enter your name: ')
input(name)
print(name)

Enter your name:

<bound method Kernel.raw_input of <ipykernel.ipkernel.IPythonKernel object at 0x000001AFF7AFD160>> ehjk

<bound method Kernel.raw_input of <ipykernel.ipkernel.IPythonKernel object at 0x000001AFF7AFD160>>

In [7]:
print('Enter Your Name: ')
input('name')
print(name)

Enter Your Name:

name gj

<bound method Kernel.raw_input of <ipykernel.ipkernel.IPythonKernel object at 0x000001AFF7AFD160>>

In [8]:
print('Enter Your Name: ')
name=input()
print(name)

Enter Your Name:

 Sushil

Sushil

#26

In [3]:
#which of the following are valid statements?
#True and false evaluates to false 
#true+1 evalutes to2

In [10]:
type('')

str

#27

In [13]:
#27 Consider the code 
print(not 0)
print(not 10)
print(not '')
print(not 'durga')
print(not None)

True
False
True
False
True

#28

In [14]:
#28 Consider the python code 
l1=['sunny','bunny','chinny','vinny']
l2=['sunny','bunny','chinny','vinny']
print(l1 is not l2)
print(l1 != l2)

True
False

In [16]:
l1=l2
print(l1 is not l2)
print(l1 != l2)

False
False

#29

In [19]:
#29 In which of the following cases we wil get class int as output?
x=2**2**2
print(x)
print(type(x))

16
<class 'int'>

#30

In [21]:
#30 Consider the code:
s='DURGA SOFT'
#which of the following lines will assign 9 to variable result?
len(s)

10

In [22]:
len(s.strip())

10

In [23]:
len(s.replace(' ',''))

9

#31 Not understand

#32

In [25]:
#32 Consider the varible declaration
b = 'BANANA'
# Which of the following lines will print 'AA' to the consol?

In [26]:
b[1]+b[3]

'AA'

In [27]:
b[3]+b[5]

'AA'

In [28]:
b[1]+b[5]

'AA'

In [29]:
b[-1]+b[-3]

'AA'

#33

In [32]:
# 33 False,True,true,true

#34

In [31]:
#34 Consider following code 
v1=1
v2=0
v1=v1^v2
v2=v1^v2
v1=v1^v2
print(v1)

0

#35

In [36]:
#35 Consider the code 
count=input("enter the number of the customers of bank: ")
output=int(count)+5
print(output)

enter the number of the customers of bank:  15

20

#36

In [1]:
#36Consider the code 
x='10'
y='20'
x+y
type(x+y)

str

#37

In [2]:
#37 Which of the following string declaration spans more than one line and considers whitespace properly when the string is orinted to the consol?

In [6]:
S1 = 'Bharat\n       Software\n       Solutions'
s1

'Bhart\n software\n Solution'

In [8]:
s2 =  """ Bharat
       Software
       Solutions """
s2

' Bharat\n       Software\n       Solutions '

In [10]:
s3 = ' Bharat
       Software
       Solutions'
s3

SyntaxError: unterminated string literal (detected at line 1) (2541643994.py, line 1)

In [11]:
S4 = " Bharat
       Software
       Solutions"
s4

SyntaxError: unterminated string literal (detected at line 1) (3230204731.py, line 1)

#38

In [12]:
#38 Consider the code 
lst=[7,8,9]
b = lst[:]
print(b is lst)
print(b == lst)

False
True

#39

In [15]:
# 39 Which of the following statements are valid?
b =False+5-True+35//4  #Correct option
b

12

In [17]:
S = "Sachin Tendulkar is cricket's great player"
S

"Sachin Tendulkar is cricket's great player"

In [19]:
c=((7/2)+(False or True)+(9%3)) #Correct option
c

4.5

In [21]:
result=456+456.0
result
type(result)

float

#40

#40 We are developing an app in which student will provide collage name and city as input . If the student provide callege name as BHARATSOF and city as pune , then our application has to provide the following greeting message 
welcome to BHARATSOFT in Pune

In [23]:
college_name=input("Enter Your College Name:- ")
city = input("Enter Your City Name:- ")
print("Welcome to {} in {}.".format(college_name,city))

Enter Your College Name:-  BHARATSOFT
Enter Your City Name:-  PUNE

Welcome to BHARATSOFT in PUNE.