MTA 3

#1

In [1]:
#1 
total=count=done=0
average=0.0
while(done != -1):
    rating=float(input("Enter Next Rating(1-5),-1 for done"))
    if rating <= -1:
        break
    if rating >5:
        print("Rating cannot be more than 5")
        break
    total+=rating
    count+=1
average=float(total/count)
print("The average star rating for the new coffee is:{:.2f}".format(average))

Enter Next Rating(1-5),-1 for done 5
Enter Next Rating(1-5),-1 for done 1
Enter Next Rating(1-5),-1 for done 2
Enter Next Rating(1-5),-1 for done -1

The average star rating for the new coffee is:2.67

#2

In [2]:
#2 Consider the following statement 
# which of the statements true ?

In [3]:
print('v:{:.2f}'.format(123.45678))

v:123.46

In [4]:
print('v:{:.2f}'.format(123.4))

v:123.40

In [5]:
print('v:{:8.2f}'.format(1.45678))

v:    1.46

In [6]:
print('v:{:08.2f}'.format(1.45678))

v:00001.46

#3 Not understand

#4

In [8]:
#4 Consider the code 
numbers=[0,1,2,3,4,5,6,7,8,9]
index=0
while (index<10):
    print(numbers[index])

    if numbers[index]==6:
        break
    else:
        index += 1

0
1
2
3
4
5
6

#5

In [9]:
#5 
employee_number=input("Enter Your Employee Number(dd-ddd-dddd): ")
parts=employee_number.split('-')
valid=False
if len(parts) == 3:
    if len(parts[0])==2 and len(parts[1])==3 and len(parts[2])==4:
        if parts[0].isdigit() and parts[1].isdigit and parts[2].isdigit():
            valid = True
print(valid)

Enter Your Employee Number(dd-ddd-dddd):  12-123-1234

True

#6

#6 You are writing a function to compute roots 
The function must meet the following requirements
if a is non-negative,returna**(1/b)
if a is negative and eveb , retun "Result is an imginary number"
if a is negative and odd,return -(-a)**(1/6)

In [10]:
def root(a,b):
    if a>=0:
        answer=a**(1/b)
    elif a%2 == 0:
        answer = "Result is an imaginary number"
    else:
        answer=-(-a)**(1/b)
    return answer

In [11]:
root(4,5)

1.3195079107728942

##7

In [12]:
# #7 We are developing a online shopping application . consider the code 
# to get 5 as discount_per , which of the following input should be provided end user ?

In [13]:
d= input("Enter day of the week: ").title()
discount_per = 3

if d == 'Monday':
    discount_per +=5
elif d == 'Tuesday':
    discount_per +=7
elif d == 'Saturday':
    discount_per +=10
elif d == 'Sunday':
    discount_per +=20
else:
    discount_per +=2
print("Discount percentage:-",discount_per)

Enter day of the week:  Tharsday

Discount percentage:- 5

#8

In [14]:
#8 we are developing gold loan application for xyz company.
#for which of the following user input interest rate will be 12

In [15]:
amount=float(input("Enter loan amount: "))
interest_rate=0

if amount > 0 and amount <= 50000:
    interest_rate = 10
elif amount > 50000 and amount <100000:
    interest_rate = 12 
elif amount >= 100000 and amount <150000:
    interest_rate = 16
else:
    interest_rate =22
print("Interest Rate is ",interest_rate)

Enter loan amount:  50001

Interest Rate is  12

#9

In [17]:
#9 we are developing an application for leave approval in XYZ Company.
# In which of the following cases "needs director approval" will be printed to the console?
days=int(input("Enter number of days for leave: "))
cause=input("Enter the cause: ").title()
if days == 1:
    print("leave will be approved immediately")

elif days>1 and days<=3:
    if cause == "Sick":
        print("Leave will be approved immediately")
    else:
        print("Needs Lead Approval")

elif days>3 and days<=5:
    if cause== "Sick":
        print('Needs Manager Approval')
    else:
        print("Needs Director Approval")
elif days>=5 and days<=10:
    print("Need director Approval")

Enter number of days for leave:  4
Enter the cause:  "Official"

Needs Director Approval

#10

In [18]:
#10 Consider the following code :
marks=[30,40,50,45,50,100]
average=sum(marks)//len(marks)
grades={1:'A',2:'B',3:'C',4:'D'}
if average>=90 and average<=100:
    key=1
elif average>=80 and average<=90:
    key=2
elif average>50 and average<80:
    key=3
else:
    key=4
print(grades[key])

C

#11

In [19]:
#11 Consider the code 
a = 12 
b = 4
s = "He shall not be happy if he does not work"
#in which of the following cases result value will become 9

In [20]:
result = 3 if None else a/b
result

3.0

In [21]:
result1 = s.find('not') if s else None
result1

9

In [22]:
result2 = s.rfind("not") if s else None
result2

33

In [ ]:
result3 =5 if len(s)>4 else 6
result3

#12

In [24]:
#12 we are developing loan collection agent application.consider the code:
collected_amount = 3000
commission=0
if collected_amount <= 2000:
    commission = 50
elif collected_amount>2500 and collected_amount<3000:
    commission = 100
elif collected_amount>2500:
    commission = 150
    if collected_amount>=3000:
        commission+=200
print(commission)

350

#13

In [1]:
#13 You are developing online shopping appliction.
#Consider the code:

In [26]:
order_value=1500
state='ap'
delivery_charge=0

if state in ['up','mp','ts']:
    if order_value<=1000:
        delivery_charge=50
    elif order_value>1000 and order_value<2000:
        delivery_charge=100
    else:
        delivery_charge=150
else:
    delivery_charge = 25
    
if state in ['lp','kp','ap']:
    if order_value>1000:
        delivery_charge+=20
    if order_value<2000 and state in ['kp','ap']:
        delivery_charge+=30
    else:
        delivery_charge+=15
        
print(delivery_charge)

75

#14

In [27]:
#14 Consider the code 
# what is the result

In [29]:
l = [10,20,[30,40],[50,60]]
count = 0
for i in range(len(l)):
    if type(l[i]) == list:
        count=count+1
print(count)

2

#15

In [2]:
#15 Consider the code 
l = [10,(20,),{30},{},{},[40,50]]
count=0 
for i in range(len(l)):
    if type(l[i])==list:
        count+=1
    elif type(l[i])==tuple:
        count+=2
    elif type([i])==set:
        count+=3
    elif type(l[i])==dict:
        count +=4
    else:
        count+=5
print(count)

21

#16

In [19]:
t=(2,4,6,8,10,12)
d={1:'A',2:'B',3:'C',4:'D',5:'E',6:'F'}
result=1
for t1 in t:
    if t1 in d:
        result+=t1
print(result)

13

#17

In [18]:
#17 Consider the code 
t = (2,4,6,8,10,12)
d = {1:'A',2:'B',3:'C',4:'D',5:'E',6:'F'}
result=1
for t1 in t:
    if t1 in d:
        continue 
    else:
        result+=t1
print(result)

31

#18

In [21]:
#18 Consider the code 
values = [[3,4,5,1],[33,6,1,2]]
v = values[0][0]
for lst in values:
    for element in lst:
        if v> element:
            v= element
print(v)

1

#19

In [3]:
#19 Consider the code 
def get_names():
    names=["Sunny","Bunny","Chinny","Vinny","Pinny"]
    return names[2:]

def update_names(elements):
    new_names=[]
    for name in elements:
        new_names.append(name[:3].upper())
    return new_names

print(update_names(get_names()))

['CHI', 'VIN', 'PIN']

#20

In [39]:
#20 Consider the following code 
lst=[]
def my_list(a):
    lst.append(a)
    return lst

my_list('chicken')
my_list('mutton')
print(my_list('fish'))

['chicken', 'mutton', 'fish']

#21

In [42]:
#21 Consider the following code:
def f1(x=0,y=0):
    return x+y
f1()

0

In [43]:
def f1(x=0,y=0):
    return x+y
f1('10','20')

'1020'

In [44]:
def f1(x=0,y=0):
    return x+y
f1(10)

10

In [45]:
def f1(x=0,y=0):
    return x+y
f1('10')

TypeError: can only concatenate str (not "int") to str

#22

In [46]:
#22 Consider the following code:
def f1(x=0,y=0):
    return x*y
f1()

0

In [48]:
def f1(x=0,y=0):
    return x*y
f1('10','20')

TypeError: can't multiply sequence by non-int of type 'str'

In [49]:
def f1(x=0,y=0):
    return x*y
f1(10)

0

In [50]:
def f1(x=0,y=0):
    return x*y
f1('10')

''

#23

In [51]:
#23 Consider the following code:
#Which of the following code should be inserted to print Highest Number as 100 
#and lest number as 10

In [52]:
numbers=[100,20,10,70,50,60,40,30,90,80]
def find_numbers():
    numbers.sort()
    return numbers[0],numbers[-1]
low,high=find_numbers()
print('The highest Number:{} and Least Number:{}'.format(high,low))

The highest Number:100 and Least Number:10

In [53]:
numbers=[100,20,10,70,50,60,40,30,90,80]
def find_numbers():
    numbers.sort()
    return numbers[0],numbers[len(numbers)]
low,high=find_numbers()
print('The highest Number:{} and Least Number:{}'.format(high,low))

IndexError: list index out of range

In [54]:
numbers=[100,20,10,70,50,60,40,30,90,80]
def find_numbers():
    numbers.sort()
    return numbers[0],numbers[-1]
low=find_numbers()
high=find_numbers()
print('The highest Number:{} and Least Number:{}'.format(high,low))

The highest Number:(10, 100) and Least Number:(10, 100)

In [55]:
numbers=[100,20,10,70,50,60,40,30,90,80]
def find_numbers():
    numbers.sort()
    return numbers[2],numbers[0]
low,high=find_numbers()
print('The highest Number:{} and Least Number:{}'.format(high,low))

The highest Number:10 and Least Number:30

#24

In [56]:
#24 Consider the code:
#to print 10 100 to the console which of the following code we have take at line 1

In [57]:
numbers=[100,20,10,70,50,60,40,30,90,80]
def find_numbers():
    numbers.sort()
    return numbers[0],numbers[-1]
low=find_numbers()
high=find_numbers()
print(low,high)

(10, 100) (10, 100)

In [58]:
numbers=[100,20,10,70,50,60,40,30,90,80]
def find_numbers():
    numbers.sort()
    return numbers[0],numbers[-1]
low=find_numbers()
high=find_numbers()
print(low[0],high[-1])

10 100

In [59]:
numbers=[100,20,10,70,50,60,40,30,90,80]
def find_numbers():
    numbers.sort()
    return numbers[0],numbers[-1]
low=find_numbers()
high=find_numbers()
print(low[-1],high[0])

100 10

In [60]:
numbers=[100,20,10,70,50,60,40,30,90,80]
def find_numbers():
    numbers.sort()
    return numbers[0],numbers[-1]
low=find_numbers()
high=find_numbers()
print(low[2],high[0])

IndexError: tuple index out of range

#25

In [69]:
#25 Consider the code 
def calculate(amount=6,factor=3):
    if amount>6:
        return amount*factor 
    else:
        return amount*factor*2
calculate()
#which of the following function calls return 30

36

In [70]:
calculate(10)

30

In [71]:
calculate(5,2)

20

In [72]:
calculate(1)

6

#26 Not Understand

In [2]:
#Consider the code 
def fib_seq(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fib_seq(n-1)+fib_seq(n-2)
for i in range(7):
    print(fib_seq(i),end=',')

0,1,1,2,3,5,8,

#27

#28

In [73]:
#28 The XYZ company is creating a program that allows customers to log the number of miles biked.
#The program will send message based on how many miles the customer logs. Consider the code

In [75]:
def get_name():
    name=input("Enter Your Name :")
    return name 
def calc_calories(miles,burn_rate):
    calories=miles*burn_rate
    return calories

distance=int(input("How many miles did you bike this week: "))
burn_rate=50
biker=get_name()
calories_burned=calc_calories(distance,burn_rate)
print(biker,", You Burned about", calories_burned," calories")

How many miles did you bike this week:  50
Enter Your Name : Biker1

Biker1 , You Burned about 2500  calories

#29

In [3]:
def update_score(score,value):
    new_score=score+value
    return new_score

update_score(5,10)

15

In [77]:
def get_rating(age):
    
    if age>=18:
        rating="A" 
    elif age>=13:
        rating="T"
    else:
        rating="C"
    return rating

In [78]:
get_rating(25)

'A'

In [79]:
get_rating(15)

'T'

In [80]:
get_rating(11)

'C'

#30

In [81]:
#30 
def count_letter(letter,word_list):
    count=0
    for word in word_list:
        if letter in word:
            count +=1
    return count

word_list=['apple','pears','orang','mango']
letter=input("Enter some alphabet symbol: ")
letter_count = count_letter(letter,word_list)
print(letter_count)

Enter some alphabet symbol:  a

4

#31

In [82]:
#31 consider code :
startmsg = "hello"
endmsg = ""
for i in range(0,len(startmsg)):
    endmsg = startmsg[i] + endmsg
print(endmsg)

olleh

#32

In [83]:
#32 consider the code 
x = [13,4,17,10]
w = x[1:]  #4,17,10
u = x[1:] #4,17,10
y = x
u[0] = 50 #50,17,10
y[1] = 40 #13,40,17,10
print(x)

[13, 40, 17, 10]

#33

In [85]:
#33 You want add comments to your code so that other team member can understand it 
#Whhat should you do ?
#answer :- place the comments after the # sign on any line

#34

In [90]:
#34
#the calc_power function
# x is the base 
# y is the exponent 
# the value of x raided to the y 
def calc_power(x,y):
    comment= "#return the value"
    return x**y

In [91]:
#lines 01 through 04 will be ignord for syntax checking

#35

In [5]:
#35 90 thr 100 = A
# 80 thr 89 = A
# 70 thr 79 = C
# 65 thr 69 = D 
# 0 thr 64 = E

In [93]:
marks = int(input("Enter student Marks: "))
if marks >= 90:
    grade="A"
elif marks >= 80:
    grade="B"
elif marks>= 70:
    grade= "C"
elif marks>=65:
    grade= "D"
else:
    grade= "E"
print("Your Grade is: ",grade)

Enter student Marks:  45

Your Grade is:  E

#36

In [96]:
#36 YOU 

productidlist=[0,1,2,3,4,5,6,7,8,9]
index = 0 
while index<len(productidlist):
    print(productidlist[index])
    if productidlist[index]==6:
        break
    else:
        index+=1

0
1
2
3
4
5
6

#37

In [97]:
#37 display 2 to 200 prime number

In [100]:
p=2

while p<=200:
    is_prime = True
    for i in range(2,p):
        if p % i == 0:
            is_prime = False
            break
    if is_prime == True:
        print(p)
    p = p+1

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199

#38

In [104]:
#38 
rooms={1:"left conference Room",2:"Right Conference Room"}
room= input("Enter the room number: ")
if not room in rooms:
    print("Room Does not Exist")
else:
    print("the room name is :"+rooms[room])

Enter the room number:  2

Room Does not Exist

In [109]:
rooms = {1: "Left Conference Room", 2: "Right Conference Room"}

room = int(input("Enter the room number: ")) 
if room in rooms: 
    print(rooms[room])
else:
    print("Room is not available")

Enter the room number:  6

Room is not available

#39

In [112]:
#39 
ontime = input("Was Book returned brfore 9 pm? y or n: ").lower()
days_rented=int(input("How many days was book rented? "))
day_rented= input("What day the Book rented? ").capitalize()
cost_per_day=3.00
if ontime == 'n':
    days_rented=days_rented+1
if day_rented=="Sunday":
    total=(days_rented*cost_per_day)*0.5
elif day_rented=="Saturday":
    total=(days_rented*cost_per_day)*0.7
else:
    total=(days_rented*cost_per_day)
print("The Cost of book Rental is : $",total)

Was Book returned brfore 9 pm? y or n:  n
How many days was book rented?  10
What day the Book rented?  Sunday

The Cost of book Rental is : $ 16.5

#40

In [125]:
#40 
marks=int(input("Enter Your Marks"))
if marks>=80 and marks>=100:
    grade = "A"
else:
    grade="B"
print("Your Grade is ",grade)

Enter Your Marks 101

Your Grade is  A

In [127]:
marks=int(input("Enter Your Marks"))
if marks>=80 or marks<=100:
    grade = "A"
else:
    grade="B"
print("Your Grade is ",grade)

Enter Your Marks 65

Your Grade is  A

In [131]:
marks=int(input("Enter Your Marks"))
if 80<=marks<=100:
    grade = "A"
else:
    grade="B"
print("Your Grade is ",grade)

Enter Your Marks 85

Your Grade is  A

In [133]:
marks=int(input("Enter Your Marks"))
if marks>80:
    grade = "A"
else:
    grade="B"
print("Your Grade is ",grade)

Enter Your Marks 88

Your Grade is  A

In [134]:
pwd

'C:\\Users\\sushi\\OneDrive\\Documents'